:root{
    --main-btn: #feeb20;
    --accent: #feeb20;
    --bg: #040104;
    --text: #faf7fa;
    --sec-btn: #0a0a1f;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    height: clamp(75px,85px,95px);
}
#logo{
    width: max-content;
}
.header h1{
    text-align: left;
}
.header svg{
    scale: 2;
    transform: translateY(1.5px);
}
.header td{
    border-bottom: .1px solid var(--main-btn);
    background: rgba(254,235,32,.1);
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: var(--text);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Varta', sans-serif;
    background: var(--bg);
    color: var(--text);
    height: 100%;
    overflow: hidden;
}
.side-structure{
    width: 100vw;
    height: 100vh;
}


table .main-select{
    transition: .75s;
    background: var(--bg);
    border: 1.5px solid var(--accent);
    width: calc(100% - 5%);
    border-radius: 25px;
    transform: translateX(2.5%);
}
.main-wrapper{
    height: max-content;
    width: 100%;
}
table .main-select:hover{
    transition: .75s;
    box-shadow: 0px 24px 38px 3px rgba(254,235,32,.15) , 0px 9px 46px 8px rgba(254,235,32,.15) , 0px 11px 15px -7px rgba(0,0,0,0.2) ;
    scale: .95;
}
.footer{
    position: sticky;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 35px;
    margin: 0;
    padding: 0;
    background: var(--accent);
    color: var(--bg);
}
.footer h4{
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 15px;;
}
.footer h4 p{
    display: inline-block;
    font-size: 15px;
    
}
#automatic_start{
    display: none;
}
.footer td{
    vertical-align: middle;
}
.footer svg{
    transform: translateY(6.5px);
    margin-right: 5px;
    scale: .85;
}
h1{
    font-size: clamp(25px,10vw,40px);
    margin:0;
    padding: 0;
}
h2{
    font-size: clamp(20px,8vw,35px);
    margin:0;
    padding: 0;
    margin-top: clamp(15px,4vh,70px);
}
.main-select p{
    font-size: clamp(10px,5vw,25px);
    margin-block:clamp(15px,15vh,100px);
}
.select{
    outline: transparent;
    border: 2px solid var(--main-btn);
    border-radius: 25px;
    color: var(--bg);
    background: var(--main-btn);
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: clamp(15px,4vh,70px);
}
.btn-select svg{
    scale: 4;
    fill: var(--text);
    stroke: var(--bg);
}
.btn-select, .btn-start{
    outline: transparent;
    margin: 25px;
    width: 100px;
    height: 100px;
    background: var(--main-btn);
    border-radius: 25px;
}
.btn-start svg{
    scale: 4;
    stroke: var(--bg);
}
.accent{
    color: var(--accent);
}
